.nav-bar {
    display: flex;
    font-size: 18px;
    font-weight: 600;
      .nav-item {
        color:white;
        border:1px solid #1976d2;
        text-decoration: none;          
        &:hover {
            background-color: #1976d2;
            color:black;
        }
    }
}   

/* Responsive Styles */
@media screen and (max-width: 767px) {
.nav-bar {
    font-size: 14px;
    font-weight: 500;
  }
}

.page-body {
  position: relative;
  top: 1.5rem;
  margin: 1rem;
}