.nav-bar {
    display: flex;
    font-size: 18px;
    font-weight: 600;
      .nav-item {
        color:white;
        // background-color: white;
        border:1px solid #1976d2;
        // padding: 1.2rem;
        text-decoration: none;          
        &:hover {
            background-color: #1976d2;
            color:red;
        }
    }
}   